<div class="row" id="pin_show" align='center'>
	<div class="cl-md-6">
		<div class="panel panel-default">
			

				
				<p><%=image_tag(@pin.image, :size => "200x200")%></p>
				<div class="panel-body">

				<h1><%=@pin.title%></h1>
				<p><%=@pin.description%></p>
				<p>Submitted by <%=@pin.user.email%></p>
			
			</div>
		</div>
	</div>

<%=link_to 'Back', root_path%>
<%=link_to 'Edit', edit_pin_path%>
<%=link_to 'Delete', pin_path, method: :delete, data: {confirm: 'Are you sure bru?'}%>
</div>
